{% extends 'user/base.html' %}
{% load static %}

{% block scss %}
    <link href="{% static 'css/Style_login.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}
    <div class="content">
        {% if messeges or form.errors %}
        <div class="messege" role="alert" style="margin: 0px 50px 0px 50px;">
            {% if messeges %}
                {% for messege in messeges %}
                    {{messege}}
                {% endfor %}
            {% else %}
                {{form.non_field_errors}}
            {% endif %}
        </div>
        {% endif %}
        <div class="block">
            <h3 style="margin: 0; margin-bottom: 20px;">Авторизация</h3>
            <div class="">
                <form class="block-form" action=" {% url 'user:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="" for="{{form.username.id_for_label}}">Имя пользователя</label>
                            {{form.username}}
                    </div>
                    <div class="form-group">
                        <label class="" for="{{form.password.id_for_label}}">Пароль</label>
                            {{form.password}}
                    </div>
                    <button class="buttons" type="submit">
                         Авторизоваться
                    </button>
                </form>
            </div>
            <div style="cursor: pointer;"><a href={% url 'user:register' %}>Нужен аккаунт? Зарегистрируйся!</a></div>
        </div>
    </div>
{% endblock  %}
                    