{% extends 'user/base.html' %}
{% load static %}
{% block scss %}
    <link href="{% static 'css/Style_login.css' %}" rel="stylesheet">
{% endblock  %}
{% block content %}
    <div class="content">
        <div class="block">
            <h4 class="">Профиль</h4>
            <form class="block-form" action="{% url 'user:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="  width: 100%;
                gap: 10px;
                display: flex;">
                    <div class="">
                        <img width="100" height="100"
                            src="{% if user.image %} {{user.image.url}} {% endif %}"
                            class="img-thumbnail">
                    </div>
                    <div style="align-items: center; display: flex;">
                        {{ form.image }}
                        <!-- <label class="custom-file-label" for="{{ form.image.id_for_label }}">Выберите изображение</label> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="" for="{{ form.first_name.id_for_label }}">Имя</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label class="" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label class="" for="{{ form.username.id_for_label }}">Имя пользователя</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label class="" for="{{ form.email.id_for_label }}">Адрес электронной
                        почты</label>
                        {{ form.email }}
                </div>
                <div class="">
                    <label class="" for="{{ form.access_rights.id_for_label }}">Член группы:</label>
                        {{ user.access_rights }}
                </div>
                <button class="buttons" type="submit">
                     Сохранить
                </button>
            </form>
        </div>
    </div>
{% endblock %}