{% extends 'user/base.html' %}
{% load static %}
{% block scss %}
    <link href="{% static 'css/Style_login.css' %}" rel="stylesheet">
{% endblock  %}
{% block content %}
    <div class="content">
        {% if form.errors %}
            <div class="messege" role="alert" style="margin-top: 50px;">
                {{form.errors}}
            </div>
        {% endif %}
        <div class="block">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Создать аккаунт</h3>
            </div>
            <div class="card-body">
                <form class="block-form" action="{% url 'user:register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="" for="{{ form.first_name.id_for_label }}">Имя</label>
                            {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label class="" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                            {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        <label class="" for="{{ form.username.id_for_label }}">Имя пользователя</label>
                            {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label class="" for="{{ form.email.id_for_label }}">Адрес электронной почты</label>
                            {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label class="" for="{{ form.password1.id_for_label }}">Пароль</label>
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        <label class="" for="{{ form.password2.id_for_label }}">Подтверждение
                            пароля</label>
                            {{ form.password2 }}
                    </div>
                    <button class="buttons" style="width: 190px" type="submit">
                        Создать аккаунт
                   </button>
                </form>
            </div>
            <div class="card-footer text-center">
                <div class="small"><a href={% url 'user:login' %}>Уже есть аккаунт? Авторизоваться</a></div>
            </div>
        </div>
    </div>
{% endblock  %}
