.navbar {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: solid white;
}

.navblock {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  max-width: 1600px;
  width: 100%;
}

.navitem {
  display: flex;
  gap: 100px;
  align-items: center;
}

body{
  @media (height < 900px) {
    height: 100%;
  }
  @media (height > 900px) {
    height: 100vh;
  }
  /* height: 100vh; */
  font-family: 'Lato', 
  sans-serif; margin: 0;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../../../static/images/back.png");
}

a {
  all: unset;
}

/* ::-webkit-scrollbar-track {
  height: 1px;
  width: 1px;
} */

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaa; /* or add it to the track */
}