{% extends 'restaurant/base.html' %} {% load static %} {% load humanize %} {% block scss %}
  <link href="{% static 'css/Style_report.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<div class="container">
  <div class="content">
    <div class="">
      <div class="block">
        <h1>{{ title }}</h1>
        <div>
          <p>{{ category }}</p>
          <p>{{ city }}</p>
          <p>{{ address }}</p>
        </div>

        <form method="GET" class="forms">
          <div style="display: flex; gap: 30px; margin-bottom: 20px;">
            <div class="settingsItem">
              <div class="items">
                <label for="restaurant_ids">Рестораны:</label>
                <select id="restaurant_ids" name="restaurant_ids" class="form-control" multiple>
                  {% for restaurant in restaurants %}
                    {% if restaurant in selected_restaurants %}
                      <option value="{{ restaurant.id }}" selected>{{ restaurant.name }} ({{ restaurant.city }})</option>
                    {% else %}
                      <option value="{{ restaurant.id }}">{{ restaurant.name }} ({{ restaurant.city }})</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
                               
              <div class="items">
                <label for="start_date">Начало периода:</label>
                <input
                  type="date"
                  id="start_date"
                  name="start_date"
                  class="form-control"
                />
              </div>
              <div class="items">
                <label for="end_date">Конец периода:</label>
                <input
                  type="date"
                  id="end_date"
                  name="end_date"
                  class="form-control"
                />
              </div>
            </div>
            <div class="settingsItem">
              <div class="items">
                <label for="year_number">Год:</label>
                <input
                  type="number"
                  id="year_number"
                  name="year"
                  class="form-control"
                  min="2022"
                  max="2023"
                  value=""
                />
              </div>
              <div class="items">
                <label for="week_number">Номер недели:</label>
                <input
                  type="number"
                  id="week_number"
                  name="week"
                  class="form-control"
                  min="1"
                  max="52"
                />
              </div>
            </div>
          </div>
          <button type="submit" class="buttonR">Показать отчет</button>
        </form>
      </div>
      <div class="tableBox">
        {% if start_date and end_date %}
        <p>Период с {{ start_date }} по {{ end_date }}</p>
        {% endif %}
      
        {% for restaurant in selected_restaurants %}
        <h2>{{ restaurant.name }} ({{restaurant.city}})</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Год</th>
              <th>№ нед</th>
              <th>Месяц</th>
              <th>День</th>
              <th>Выручка (руб.)</th>
              <th>Себестоимость (руб.)</th>
              <th>Кол-во чеков (шт.)</th>
              <th>Ср. чек (руб.)</th>
            </tr>
          </thead>
          <tbody>
            {% for report in report_data %}
            {% if report.department == restaurant %}
            <tr>
              <td>{{ report.data|date:'Y' }}</td>
              <td>{{ report.number_week }}</td>
              <td>{{ report.data|date:'F' }}</td>
              <td>{{ report.data|date:'j' }} {{ report.weekdays }}</td>
              <td>{{ report.revenue|intcomma }}</td>
              <td>{{ report.cost_price|intcomma }}</td>
              <td>{{ report.number_of_checks|intcomma }}</td>
              <td>{% widthratio report.revenue report.number_of_checks 1 %}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
      </div>          
      {% if report_type == 1 %} {% if graph %}
      <div class="col-lg-12">{{ graph|safe }}</div>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock %} {% block footer %}
<footer class="py-5 bg-dark">
  <p class="m-0 text-center text-white">by ArtiBuk</p>
</footer>
{% endblock %}
