{% extends 'restaurant/base.html' %}
{% load static %}
{% block scss %}
    <link href="{% static 'css/Style_index.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}
    <section class="bodys">
        <div class="block">
            <div class="backgroundB">
                <h1 class="textName">Nordrytail group</h1>
                <p class="">
                    Че-то там про супер удобное приложение
                </p>
                <button class="button" id="start-purchase-btn" type="button">
                    <a id="start-purchase-link" href={% url 'restaurant:index'%}>
                        Заведения
                    </a>
                </button>
            </div>
        </div>
    </section>
{% endblock %}
