{% extends 'restaurant/base.html' %}
{% load static %}
{% block scss %}
    <link href="{% static 'scss/Style_restaurant.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}
<div class="content">
    <div class="search_item">
        <a href={% url 'restaurant:index' %}>Все категории</a>
        {% for category in categories %}
            <a href="{% url 'restaurant:category' category.id %}" style="">
            {{category.name}}
        </a>
        {% endfor %}
    </div>
    <div class="container">
        {% comment %} <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Nordrytail group</h1>
            </div> {% endcomment %}
            <div>
                <div class="search_block_item">
                    <div class="">
                        <form class="search_block" method="GET" action="{% url 'restaurant:search_restaurant' %}">
                            <input type="text" name="q" class="search_input" placeholder="Поиск по названию ресторана">
                            <span class="input-group-btn">
                                <button style="margin-left: 10px; background-color: transparent; border: none;"><img style="cursor: pointer;" src="../../../static/images/icons8-search.svg" type="submit" alt="Искать"></button>
                            </span>
                        </form>
                    </div>
                    {% comment %} <br>
                    {% if restaurant %}
                        {% for r in restaurant %}
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{ r.name }}</h2>
                                <p>{{ r.description }}</p>
                                <a class="btn btn-primary" href="{% url 'restaurant:report' r.id %}">Отчет</a>
                            </div>
                        </div>
                        <hr>
                        {% empty %}
                            <p>Нет доступных ресторанов</p>
                        {% endfor %}
                    {% endif %}
                    {% if query %}
                        <p>Результаты поиска для: <strong>{{ query }}</strong></p>
                    {% endif %} {% endcomment %}
                </div>
    
                <div class="itemBox">
                    {% for restaurant in restaurant %}
                        <div style="">
                            <div class="card h-100">
                                <a href="{% url 'restaurant:report' restaurant.id %}">
                                    <img class="card-img-top"
                                        src="/media/{{restaurant.image}}"
                                        alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{% url 'restaurant:report' restaurant.id %}">{{restaurant.name}}</a>
                                    </h4>
                                    <h5>{{restaurant.city}}</h5>
                                    <h5>{{restaurant.adress}}</h5>
                                    <p class="card-text">{{restaurant.short_description}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
    
                <nav class="pagination" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if restaurant.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ restaurant.previous_page_number }}">Предыдущая</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
                        </li>
                        {% endif %}
                        {% for i in restaurant.paginator.page_range %}
                        {% if restaurant.number == i %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if restaurant.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ restaurant.next_page_number }}">Следующая</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Следующая</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>    

{% endblock  %}

{% block footer %}
    <footer>
        <div>
            <p class="m-0 text-center text-white">Nordrytail group</p>
        </div>
    </footer>
{% endblock  %}