{% extends 'restaurant/base.html' %}
{% load static %}
{% block scss %}
    <link href="{% static 'css/Style_restaurant.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}
<div class="content">
    <div class="search_item">
        <a href={% url 'restaurant:index' %} style="padding-bottom: 5px;">Все категории:</a>
        {% for category in categories %}
        <a style="cursor: pointer;" href="{% url 'restaurant:category' category.id %}" style="padding-bottom: 5px;">
            {{category.name}}
        </a>
        {% endfor %}
        {% if report_types %}
        <div class="card-footer text-center" style="margin-top: 20px; display: flex; flex-direction: column;">
            <span style="margin-bottom: 10px;">Виды отчётов:</span>
            <a style="padding-bottom: 5px; cursor: pointer;" href="{% url 'restaurant:mounth_results' report_type_id=report_types.1.id %}" class="btn btn-outline-success">{{ report_types.1.name_report }}</a>
            <a style="cursor: pointer; padding-bottom: 5px" href="{% url 'restaurant:week_results' report_type_id=report_types.2.id %}" class="btn btn-outline-success">{{ report_types.2.name_report }}</a>
            <a href="{% url 'restaurant:report_type' report_types.0.id %}" style="cursor: pointer;" class="btn btn-outline-success">{{ report_types.0.name_report }}</a> 
        </div>
        {% endif %}
    </div>
    <div class="container">
            <div>
                <div class="search_block_item">
                    <form class="search_block" method="GET" action="{% url 'restaurant:search_restaurant' %}">
                        <input type="text" name="q" class="search_input" placeholder="Поиск по названию ресторана">
                        <span class="input-group-btn">
                            <button style="margin-left: 10px; background-color: transparent; border: none;"><img style="cursor: pointer;" src="../../../static/images/icons_search_white.svg" type="submit" alt="Искать"></button>
                        </span>
                    </form>
                </div>
    
                <div class="itemBox">
                    {% for restaurant in restaurant %}
                    <div class="item">
                        <a href="#" style="display: flex;">
                            <img class="" style="width: 250px;" src="/media/{{restaurant.image}}" alt="">
                        </a>
                        <div class="itemText">
                            <div style="padding: 0px 10px 0px 10px;">
                                <h4 class="card-title">
                                    <a href="#">{{restaurant.name}}</a>
                                </h4>
                                <h5>{{restaurant.city}}</h5>
                                <h5>{{restaurant.adress}}</h5>
                                <p class="card-text">{{restaurant.short_description}}</p>
                            </div>
                            {% comment %} {% if report_types %}
                            <a href="{% url 'restaurant:report_type' report_types.0.id %}" style="background-color: transparent; width: 100%;">
                                <button class="buttonReport">{{ report_types.0.name_report }}</button>
                            </a>                            
                            {% endif %} {% endcomment %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
    
                <nav class="pagination" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if restaurant.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ restaurant.previous_page_number }}">Предыдущая</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true">Предыдущая</a>
                        </li>
                        {% endif %}
                        {% for i in restaurant.paginator.page_range %}
                        {% if restaurant.number == i %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ i }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if restaurant.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ restaurant.next_page_number }}">Следующая</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true">Следующая</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>    

{% endblock  %}

{% block footer %}
    <!-- <footer class="py-5 bg-dark">
        <p class="m-0 text-center text-white">by ArtiBuk</p>
    </footer> -->
{% endblock  %}